body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

code {
  background-color: #BFE1BF;
  color: #6a6a6a;
  border-radius: 5px;
  padding: 10px;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.middleBox {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #A2D7D8;
  width: 100%;
  height: 100vh;
}

.bottomBox {
  padding-top: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EDEDEA;
}

.bottomBox > :nth-child(odd) {
  margin-left: 500px;
}

.bottomBox > :nth-child(even) {
  margin-right: 500px;
}

.codeBox {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: #BFE1BF;
  margin: 40px;
  word-break: break-all;
}

/******************** GITHUB BANNER ********************/
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@keyframes octocat-wave {

  0%,
  100% {
    transform: rotate(0)
  }

  20%,
  60% {
    transform: rotate(-25deg)
  }

  40%,
  80% {
    transform: rotate(10deg)
  }
}