body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300vh;
}

.topBox {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.middleBox {
  background-color: darkgray;
  width: 100%;
  height: 100vh;
  margin-bottom: 10vh;
}

.bottomBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  background-color: #3a3a3a;
  margin: 80px;
  word-break: break-all;
}

.boxText {
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.fade-up {
  opacity: 1;
  animation: fade-up linear .5s;
}

.fade-up-opposite {
  opacity: 0;
  animation: fade-up-opposite linear .5s;
}

.earthquake {
  opacity: 1;
  animation: earthquake ease-out infinite .5s;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-up-opposite {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100px);
  }
}